
/* * {
    box-sizing: border-box;
} */

#top_box {
    height:100vh;
    overflow: hidden;
}

#top_box img {
    width: 100%;
    height: calc(100vh - 6rem);
}

#logo img {
    position: absolute;
    height: 300px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#move_down{
    background-color: rgba(204, 188, 188, 0.637);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px 30px 30px;
    border-radius: 50px;
}
div#move_down:hover {
    cursor: pointer;
    opacity: 0.8;

}
/* #move_down p {
    font-size: 40px;
    margin: 0px;
    transform: rotate(90deg);
    text-align: justify;
} */

#move_down i {
        border: solid rgb(255, 255, 255);
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 15px;
        transform: rotate(45deg);
}

/* main#main_index {
    height: calc(100vh - 7rem);

} */

/* om gården */

#index_om_gaarden p {
    font-size: 20px;
}

/* img slider */
#img_slider_container {
    margin: auto;
    position: relative;
}

/* .img_slide {
    display: none;
} */

.img_slide img {
    max-width: 100%;
    height: 500px;
}

.text_slide p {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 8px 0px;
    bottom: -1px;
    color: #ffffff;
    background-color: rgba(211, 211, 211, 0.514);  
    font-size: 20px;  
    width: 100%;  
    position: absolute;
    text-align: center; 
}
#arrow_left, #arrow_right {  
    cursor: pointer;  
    position: absolute;  
    top: calc(50% - 1.5em);  
    width: auto;  
    padding: 10px 10px 10px 20px;
    color: rgb(245, 245, 245);  
    font-weight: bold;  
    font-size: 50px;  
    transition: 0.3s ease;  
    border-radius: 0 10px 10px 0;  
} 
#arrow_right {  
    right: 0;  
    border-radius: 10px 0 0 10px;
    padding: 10px 20px 10px 10px; 
}  
#arrow_left:hover, #arrow_right:hover {  
    background-color: rgba(173, 173, 173, 0.507);  
}

.img_slide {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1s;  
    animation-name: fade;  
    animation-duration: 1s;  
}
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  
@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

/* box om produkter */
#index_produkter {
    margin-top: 20px;
}

/* ordner så bilderaden står riktig */
.img_column {
    float: left;
    width: 33.33%;
    padding: 5px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
}
.img_column img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.img_column p {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

/* gjør så resten av nettsiden etter index_produkter kommer nedenfor, trengte
tidligere, men ikke nå lengre */
/* #index_produkter::after {
    content: "";
    clear: both;
    display: table;
  } */

  /* gir bildene av produktuer hvitt skjær når man hovrer over*/
a {
    text-decoration: none;
}
a:hover{
    cursor: pointer;  
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    main#main_index {
        width: 100%;
        height: auto;
        margin: 1rem 0rem;
    }

    #top_box img {
        height: calc(100vh - 14rem);
    }

    #logo img {
        position: absolute;
        height: 120px;
        width: 220px;
        top: 60%;
    }

    #index_om_gaarden {
        margin: 10px 10px 0px 10px;
        text-align: center;
    }

    #img_slider_container {
        text-align:initial;
    }

    .img_slide img {
        max-width: 100%;
        height: 300px;
    }
    .text_slide p {
        font-size: 16px;
    }

    #arrow_left, #arrow_right {
        font-size: 30px;
    }

    #index_produkter {
        /* margin-top: 20px; */
        text-align: center;
    }

    .img_column {
        width: 80%;
        /* max-height: 33.3%; */
        margin: auto;
        float: none;
    }

    .img_column p {
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
    }

}

@media only screen and (max-width: 425px) {
    .img_slide img {
        max-width: 100%;
        height: 200px;
    }

    .text_slide p {
        font-size: 12px;
    }

    #arrow_left, #arrow_right {
        font-size: 20px;
    }
}