#h2_kontakt {
    text-align: center;
}

#kontakt {
    width: 50%;
    padding: 12px 24px 24px 24px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #cac3abb0;
    box-sizing: border-box;
}

label {
    font-size: 0.85em;
    margin-left: 12px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    background: #626d21d2;
    margin: 0 auto;
    outline: 0;
    color: white;
    border: 0;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    position: relative;
    display: inline-block;
    text-align: center;
}

input[type="submit"]:hover {
    background: #434b17d2;
}

input:hover,
textarea:hover {
    background-color: rgba(202, 202, 202, 0.384);
}

@media only screen and (max-width: 768px) {
    #kontakt {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
    }
}
