#main_produkter {
    /* grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    align-items: center; */
    font: 500 100%/1.5 system-ui;
}

.produkt_container{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 1.2rem;
    align-items: center;
    margin-bottom: 3rem;
    background-color:  #626d2150;
    border-radius: 4px 4px 10px 10px;
    width: 100%;
    transition: margin 0.2s ease-in-out;

}
.produkt_container:hover{

    background-color: #626d21aa;
    margin-top: 10px;
    gap: 1.3rem;
    margin-bottom: 4rem;
    border-radius: 10px 10px 15px 10px;
}
.produkt_container img {
    width: 20rem;
    height: auto;
    margin: auto;
    /* margin: 0 auto; */
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 3px rgba(71, 71, 71, 0.767);
}


.bilde_tekst {
    
    color: #ffffff;
    background-color: #626d21;
    font-size: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 4px 4px 10px 10px;
}
.produkt_bilde {
    display: block;
    margin: 0 auto;
    
}
/* span.anchor gjør refereringspunktet fra index smoothere */
span.anchor {
    display: block;
    height: 130px;
    margin-top: -130px;
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    .produkt_container {
        display: unset;
    }
    .produkt_bilde {
        max-width: 100%;
    }
       
}

/* @media only screen and (max-width: 1000px) {
    #main_produkter {
        grid-template-columns: 1fr;
    }
} */
