#produkter {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    align-items: center;
    font: 500 100%/1.5 system-ui;
}
#produkter > img {
    width: 20rem;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(71, 71, 71, 0.767);
}
/* span.anchor gjør refereringspunktet fra index smoothere */
span.anchor {
    display: block;
    height: 130px;
    margin-top: -130px;
    visibility: hidden;
}

@media only screen and (max-width: 1000px) {
    #produkter {
        grid-template-columns: 1fr;
    }
}
